*{
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-margin-top: 15vh;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:#18191A;
    overflow-x: hidden;
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    
}

.hover{
    transition: transform .3s;
}

.hover:hover{
    transform: translateY(-5px);
}
p.highlight{
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 5) 10px 10px 10px;
    font-size: 1.5rem; 
}
.hero{
    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(130,130,130,.5) 62%, rgba(255,255,255,.1) 100%),
    url('Assets/img/heroimg.jpg');
    background-size: cover;
    background-position: top;
    min-height: 500px;
    height: 100vh;
    color: #fff;

}

.nav{
    --state-close: scale(0);
    --state-hamburguer:scale(1);
    --state-menu: translate(-100%);

    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}


.hero::before{
    content: '';
    height: 9vh;
    width: 100vw;
    background-color: #18191A;

    display: block;
    position: fixed;
    z-index: 1;
}

.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer:scale(0);
}

.nav__logo{
    font-size: 2.5rem;
    z-index: 1;
    transition: all .3s;
    position: fixed;
}


 .nav__logo:hover{
    
    transform: translateY(-5px);
}

.nav__hamburguer, 
.nav__close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
    filter: invert(100%);
    z-index: 110;
    position: fixed;
right: 0;
margin-right: 30px;
}

.nav__hamburguer{
    transform: var(--state-hamburguer);
}

.nav__close{
    transform: var(--state-close);
}

.nav__icon{
    width: 40px;
}

.nav__links{
    background-color: rgba(0, 0, 0, 5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
  

    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;

    transform: var(--state-menu);
    transition: .3s transform;

    z-index: 100;
}

.nav__item{
    list-style: none;
}

.nav__link{
    color: #fff;
   
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.nav__link::after{
    
        content: '';
        display: block;
        margin-top: 3px;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width .3s;
    
}
.nav__link:hover::after{
    width: 100%;
}

.hero__title{
    position: absolute;
    width: 300px;
    top: 40%;
    left: 10%;
    font-size: 3rem;
    transition: .3s;
}

.hero__title:hover{
    top: 39%;
}

.Inicio{
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10% 10%;
    gap: 10%;
  background-color: rgba(65,96,108,1);
    color: #fff;
    font-size: 1.4rem;
}   

.inicio__copy{
    font-size: 1rem;
    text-align: justify;
}

.history{   
    color: #fff;
    height: 80vh;
     background-image: linear-gradient(180deg, rgba(65,96,108,1) 0%, rgba(255, 119, 8, 0.11) 60%, rgba(255, 45, 8, 0) 100%) , 
    url('Assets/img/Fire2.jpg');
    background-size: cover;
    background-position:  left;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20vh;
    padding-bottom: 15vh;  

}

.fire{
    transition: all .5s ease-in-out;
}
.fire:hover{
    letter-spacing: 5px;
    animation: animation 2s ease-in-out infinite alternate ;
}


@keyframes animation
{
0% {text-shadow: 0 0 10px #fefcc9,
  10px -10px 30px rgba(254, 236, 133, 0),
  -20px -20px 40px rgb(255, 174, 52,0 ),
  20px -40px 50px rgb(236, 118, 12, 0),
  -20px -60px 60px rgb(205, 70, 6, 0),
  0 -80px 70px rgb(151, 55, 22, 0),
  10px -90px 80px rgb(69, 27, 14, 0);}
100% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #fefcc9,
  -20px -20px 40px #feec85,
  22px -42px 60px #ffae34,
  -22px -58px 50px #ec760c,
  0 -82px 80px #cd4606,
  10px -90px 80px  #973716;}

}

.light{
    transition: all .3s ease-in;
}

.light:hover{
    letter-spacing: 5px;
    color: #feec85;
    text-shadow: 0 0 20px #feec85 ;
}



.history h2{
    position: relative;
    top: -20%;
}
.history__item  {
    width: 50%;
    padding: 0 10%;
  
}

.Combustibles{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Combustibles h1{
    padding-bottom: 30px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    gap: 30px;
    

}


.grid__item{
      
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 30vh;
    border:  1px solid #fff;
    color: #fff;
    transition: all .3s ease;
    
    
}

.grid__item img{

    height: 50%;
    padding-bottom: 0;
    object-fit: cover;
    object-position: bottom;
    flex-shrink: 0;
}


.grid__item:nth-child(2n-1):hover{
    border: 1px solid rgb(29, 111, 66);
    box-shadow: 0 0 10px rgb(29, 111, 66);
}

.grid__item:nth-child(2n):hover{
    border: 1px solid #feec85;
    box-shadow: 0 0 10px #feec85;
}


.grid__container{
    height: 100%;
}

.grid__title{
    text-align: center;
    padding: 15px;
    font-style: italic;
}

.grid__copy{
    text-align: center;
}
.downloads{
    height: fit-content;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.title{
    font-size: 2rem;
    transition: .3s;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #fff;
   margin-top: 40px;
   text-align: center;
}

.download__link{
    display: block;
    text-align: center;
    
    width: 50%;
    margin: 15px;
    padding: 15px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.download__link:nth-child(1):hover{
    color: #FF8000;
    border-color: #FF8000;
    border-radius: 5px;
    transform: translateY(-5px);
    box-shadow: 10px 10px 1px #FF8000   ;
}
.download__link:nth-child(2):hover{
    color: rgba(65, 165, 238);
    border-color: rgba(65, 165, 238);
    border-radius: 5px;
    transform: translateY(-5px);
    box-shadow: 10px 10px 1px rgba(65, 165, 238);

}
.download__link:nth-child(3):hover{
    color: rgb(29, 111, 66);
    border-color: rgb(29, 111, 66);
    border-radius: 5px;
    transform: translateY(-5px);
    box-shadow: 10px 10px 1px rgb(29, 111, 66);

}

.mychart{
    margin: 5%;
}

.video{

    padding: 5%;
    padding-bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.video video{
    align-self: center;
    width: 80%;
}
.prezi{
 
    width: 100vw;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    padding-top: 3%;
    gap: 2em;
}
.prezi iframe{
width: 80%;
align-self: center;
aspect-ratio: 1.5;
}
.integrantes{
    color: #fff;
    width: 100vw;
    padding: 0 5%;
    display: flex;
    background-color: #212121;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}

.table{
    width: 100%;
    margin: 5vh 0;
    padding: 0 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;

}

.name{
    padding-bottom: 30px;
}

.name a{
        text-decoration: none;
        color: #fff;
        transition: all .3s;
        border-bottom: 1px solid #212121;

}

.name a:hover{
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
}

.row{
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: 10px 0;
    padding: 20px 0;
   align-items: center;
   justify-content: center;
   transition: all 1s ease-in;
}

.Nombre{
    text-align: center;

}

.row__title{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 10px;

}
.row__title>*{
    width: 33%;
    text-align: center;

}
.row>*{
    width: 33%;
    text-align: center;
    cursor: pointer;
}

.row::after{
    content: '';
   
}



@media (min-width:768px) {
   
    .table{
        border: none;
    }

.row>*{
    width: 33.3%;
    text-align: center;
    cursor: pointer;
}

.row::after{
    content: '';
    height: 25px;
    left: 35vw;
    width: 110%;
    background-color: #212121;
    border-left: 1px solid #fff;
    position: absolute;
    transition: all 1s ease ;
}

.row:hover::after{
    transform: translateX(50%);
}
    .mychart{
        margin: 5% 15% ;
    }
    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
    }
    
    .nav:target{
        --state-close: scale(0);
        
    }
    
.hero::before{
    content: '';
    height: 15vh;
    
}
    .nav__links{
        padding: 0;
        background-color: unset;
        
        gap: 1.5em;
        grid-auto-flow: column;
        transform: unset;
        width: fit-content;
        left: auto;
        bottom: initial;
        margin-top: 40px;
        margin-right: 50px;
        
        position: fixed;
        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__logo{
        margin-top: 10px;
    }
    .nav__link{
        font-size: 1rem;
        letter-spacing: none;
        border-bottom: 1px black;
       
    }
    .nav__link:hover{
        border-bottom: #000;
        
    }
    .hero__title{
        width: 400px;
    }

    .history{
        gap: 25%;
    }
    .history__item{
        align-self: flex-end;
    }
    .downloads{
        flex-direction: row;
        
    }

    .download__link{
        margin: 30px 30px;
    }

    .grid__item{
        flex-direction: row;
        height: 30vh;
    }

    .grid__item img{
        width: 50%;
        height: 100%;
        padding: 0;
        object-fit: cover;
        object-position: bottom;
        flex-shrink: 0;
        
    }

    .grid__item:nth-child(2n){
        flex-direction: row-reverse;
    }

    .grid__container{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
    }

     .title{
        font-size: 3rem;
    }
}